<h4>Upload Sheet</h4>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('profile') }}">
    <input type="hidden" name="form_type" value="upload_sheet">
    
    <div class="mb-3">
        <label for="file" class="form-label">Choose File(PDF, JPG, PNG, etc.):</label>
        <input type="file" class="form-control" id="file" name="file" required>
    </div>
    
    <div class="mb-3">
        <label for="sheetname" class="form-label">Sheet Name:</label>
        <input type="text" class="form-control" id="sheetname" name="sheetname" required>
    </div>

    <div class="mb-3">
        <label for="composer" class="form-label">Composer Name:</label>
        <input type="text" class="form-control" id="composer" name="composer" required>
    </div>

    <div class="mb-3">
        <label for="instrument" class="form-label">Instrument:</label>
        <input type="text" class="form-control" id="instrument" name="instrument" required>
    </div>

    <div class="mb-3">
        <label for="genre" class="form-label">Genre:</label>
        <select class="form-select" id="genre" name="genre" required>
            <option value="" selected disabled>Select a genre</option>
            {% for genre in genres %}
                <option value="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select>
    </div>



    <button type="submit" class="btn btn-primary">Upload</button>
</form>