<!-- This will inherit layout from parents: base.html -->
{% extends 'base.html' %}

<!--Home page -->
{% block content %}
<!-- Header (Hero) -->
 <header class="bg-light py-5 text-center">
    <div class="container">
        <h1 class="display-4">Welcome to SheetHub Site</h1>
        <p class="lead">Enjoy music every day</p>
    </div>
 </header>


<div class="container px-4 px-md-5">
    <!-- Top donwload Sheets --> 
    <h3>Top Doownloaded Sheets</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">

    </div>

    <!-- Latest Uploaded Sheets -->
     <h3 class="my-5">Latest Uploaded Sheets</h3>
     <div class="row-cols-1 row-cols-md-3 g-4">
        
     </div>
</div>

{% endblock %}
