<!-- This will inherit layout from parents: base.html -->
{% extends 'base.html' %}
<!-- Now I can fill out the block by myself-->
{% block content %}  
<h1>Hello from my first template</h1>

    <table>
        <tr>
            <th>id</th>
            <th>sheetname</th>
            <th>composer</th>
            <th>instrument</th>
            <th>file_path</th>
            <th>uploader_id</th>
            <th>downloader_count</th>
            <th>created_at</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item [0] }}</td>
            <td>{{ item [1] }}</td>
            <td>{{ item [2] }}</td>
            <td>{{ item [3] }}</td>
            <td>{{ item [4] }}</td>
            <td>{{ item [5] }}</td>
            <td>{{ item [6] }}</td>
            <td>{{ item [7] }}</td>
            <td>{{ item [8] }}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- make a form to input a new sheets -->
     <form action={{url_for("add_sheets")}} method="POST">
        <label for="sheetname">Sheet name:</label>
        <input type="text", id="sheetname", name="sheetname"><br>

        <label for="composer name">Composer name:</label>
        <input type="text", id="composer", name="composer"><br>

        <label for="instrument">Instrument:</label>
        <input type="text", id="instrument", name="instrument"><br>
        
        <label for="file_path">File Path:</label>
        <input type="text", id="file_path", name="file_path"><br>
        
        <label for="uploader_id">Uploader_id:</label>
        <input type="text", id="uploader_id", name="uploader_id"><br>
        
        <label for="download_count">Download_count:</label>
        <input type="text", id="download_count", name="download_count"><br>
        
        <input type="submit" value="Submit">


     </form>

{% endblock %}
 