{% extends 'base.html' %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Welcome to MusicSheetHub</h1>
            <p class="col-lg-10 fs-4">Login to MusicSheetHub and enjoy music every day!</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="{{url_for('login')}}">
                <!-- Username -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Username" name="username" placeholder="Enter your username">
                    <label for="Username">Username</label>
                </div>

                <!-- Password -->
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
                    <label for="Password">Password</label>
                </div>

                <!-- Remember Me -->
                <div class="checkbox mb-3">
                    <input type="checkbox" class="form-check-input" id="remember" name="remember">
                    <label for="remember">Remember me</label>
                </div>

                <!-- Submit -->
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}
